<h2>******** Now your result ********</h2>



<h2>Your word: <%= @answer %></h2>






<h2>Time Taken to answer: <%= $time_taken %></h2>
<h2>Translation: <%= @results[:translation] %></h2>
<h2>Your score: <%= @results[:score] %></h2>
<h2>Message: <%= @results[:message] %></h2>

<h2>*****************************************************</h2>


